/* 
    Created on : 11 ene 2023, 11:32:36
    Author     : Alejandro Otálvaro
*/

.container{
    width: 98vw;height:98vh;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

.container select{
    width: 3%;
}
footer {
    background-color:  #5F9DC7;
    bottom: 0;
    position: fixed;
    width: 100%;
    font-size: 1em;
    font-family: 'Chela One', cursive;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    left: 0px;
}